<div class="container-fluid">
    <div class="row">
        <div class="v-middle">
            <div class="v-middle-inner">
                <div class="max-wid">
                    <h2>Check In</h2>
                    <form action="/action_page.php">
                        <label for="fname">Email:</label><br>
                        <input type="text" class="form-control" [(ngModel)]="email" id="fname" name="fname"><br>
                        <button type="button" class="btn btn-primary" value="Submit" (click)="submit()">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>